<body>
    <div class="parent">
    <div class="1">
        <div class="child-1" (click)="moveHorizontal(10)" style="height: 32px; width: 32px; 
                                                                background-color: #000; 
                                                                position: absolute;
                                                                left: var(x);top: y;">
            One
        </div>
    </div>
        <div class="child-2" style="height: 32px; width: 32px; 
                                    background-color: #7d7d7d;">
            Two
        </div>
        <div class="child-3" style="height: 32px; width: 32px; 
                                    background-color: #cfcfcf;">
            Three
        </div>
    </div>
</body>
